# Build folders
bin/
obj/

# Visual Studio / IDE files
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Git files 
.git/
.gitignore

# Docker files (to avoid recursion)
Dockerfile

# Documentation and misc
*.md
